* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  gap: 96px;
}

.grid--2-cols {
  grid-template-columns: repeat(2,1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3,1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4,1fr);
}

.heading-primary,
.heading-secondary 
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}



.container {
    max-width: 1120px;
    margin: 0 auto;
}

.head-text {
  font-size: 16px;
  position: relative;
  margin-bottom: 40px;
}

.head-text::after {
  position: absolute;
  content: '';
  width: 520px;
  height: 2px;
  left: auto;
  top: 50%;
  margin-left: 17px;
  background-color: black;
}

.head-text-description {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 32px;
}

.head-text-sub-text {
  font-size: 18px;
  color:#d3d0d0;
  width: 448px;
  height: 120px;
  margin-bottom: 40px;
}

.feature {
  grid-template-columns: 1fr 4fr;
  gap: 24px;
}

.feature-image {
  display: flex;
  justify-self: center;
  width: 40px;
  height: 40px;
  background-color: #86c6f9;
  padding: 8px;
  border-radius: 10px;
}

.feature-title {
  font-size: 20px;
  margin-bottom: 24px;
}

.section-testimonials {
  /* padding: 96px 0; */
}

.testimonials-container {
  padding: 96px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.testimonial-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 16px;
}

.testimonial-name {
  font-size: 16px;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.gallery-item-image {
  display: block;
  width: 100%;
  object-fit: cover;
}