/* Blow 1120px smaller desktops */
@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .grid {
        gap: 4.8rem;
    }

    header, .container {
        padding: 0 32px;
    }

    .heading-primary {
        font-size: 4.2rem;
    }

    .heading-secondary {
        margin-bottom: 4.8rem;
    }

    .featured-product.container {
        padding: 0;
    }

    .feature {
        gap: 2.4rem;
    }

}

/* 988px */
@media (max-width: 61.75em) {

    html {
        font-size: 52%;
    }
    section {
        padding: 4.8rem 0;
    }
    .main-nav-list {
        gap: 3.6rem;
    }


    .heading-primary {
        font-size: 4rem;
    }

    .hero {
        gap: 7.2rem;
    }

    .hero-description {
        font-size: 1.9rem;
    }


    .btn:link,
    .btn:visited {
        font-size: 1.8rem;
        padding: 1.2rem 2.8rem;
    }

    .margin-right-sm {
        margin-right: 1.4rem !important;
    }

    .product-description {
        font-size: 1.6rem;
        line-height: 1.6;
    }
}

/* 768px */
@media (max-width: 48em) {
    html {
        font-size: 50%;
    }

    .main-nav-list {
        gap: 2.8rem;
    }

    .heading-primary {
        font-size: 3.6rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .hero-description {
        font-size: 1.8rem;
    }


    .btn:link,
    .btn:visited {
        font-size: 1.6rem;
        padding: 1.1rem 2.4rem;
    }

    .margin-right-sm {
        margin-right: 1.2rem !important;
    }

    .about-card-heading {
        font-size: 2.0rem;
        margin-bottom: 1.5rem;
        color: #111;
    }

    .about-card-description {
        font-size: 1.6rem;
        color: #555;
    }

    .head-text-sub-text {
        font-size: 1.8rem;
        height: auto;
        margin-bottom: 4rem;
    }

    .product-number {
        font-size: 5.4rem;
    }

    .product-description {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .feature-list.grid {
        grid-template-columns: 1fr 1fr;
    }

    .feature {
        grid-template-columns: 1fr 9fr;
    }

    .testimonials {
        gap: 3.2rem;
    }

    .heading-secondary {
        font-size: 4rem;
    }

    .testimonial-text {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-bottom: 1.6rem;
    }

    .footer-nav {
        gap: 2.4rem;
    }

    .grid.grid--footer {
        gap: 3.2rem;
    }

    .footer-heading {
        margin-bottom: 4rem;
    }

    .footer-nav {
        gap: 2.4rem;
    }
}

/* 688px */
@media (max-width: 43em) {
    html {
        font-size: 42%;
    }

    .head-text-sub-text {
        width: 100%;
        text-align: justify;
    }

    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        background-color: rgba(245, 245, 220, 0.925);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.5s ease-in;

        /* display: none; */

        /* 1. Hide it visually */
        opacity: 0;

        /* 2. Make it unaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3. Hide it from screen readers */
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-list:link,
    .main-nav-list:visited {
        font-size: 3rem;
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .hero-text-box {
        text-align: center;
        padding: 0 10rem;
    }

    .hero-img {
        width: 70%;
        border-radius: 10px;
        object-fit: cover;
        object-position: center center;
        height: 24rem;
        margin: 0 auto;
        display: block;
    }

    .section-features {
        padding: 8rem 0;
    }

    .feature-list {
        grid-template-columns: 1fr 1fr;
    }

    .feature-title {
        margin-bottom: 1.6rem;
    }

    .contact-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        grid-template-areas:
            "form form"
            "map info";
        grid-gap: 2rem;
        margin-top: 2rem;
    }

    .contact h3, 
    .inputBox textarea, 
    .inputBox input, 
    .inputBox span, 
    .inputBox input[type="submit"],
    .info .infoBox div p,
    .info .infoBox div a{
        font-size: 1.6rem;
    }

    .inputBox textarea {
        min-height: 12rem;
    }
}

/* 480px */
@media (max-width: 30em) {
    .header .logo {
        height: 3.6rem;
    }

    .section-hero {
        padding: 9.6rem 0;
    }

    .hero-text-box {
        padding: 0 6rem;
    }

    .hero-description {
        font-size: 2.4rem;
        margin-bottom: 4.8rem;
    }

    .btn:link, .btn:visited {
        font-size: 2.4rem;
        padding: 1.2rem 2.4rem;
        margin-bottom: 3.2rem;
    }

    .heading-primary {
        font-size: 4.8rem;
        line-height: 1.1;
        margin-bottom: 4.8rem;
    }

    .hero-img {
        width: 100%;
    }

    .head-text-sub-text {
        font-size: 2rem;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 0 auto;
    }

    .about-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem;
    }

    .about-card-heading {
        font-size: 2.2rem;
    }

    .about-card-description {
        font-size: 2rem;
        color: #555;
    }

    .products-container {
        grid-template-columns: 1fr;
    }

    .product-description {
        font-size: 2rem;
        line-height: 1.4;
    }

    .feature-list.grid {
        grid-template-columns: 1fr;
    }

    .section-testimonials.grid {
        grid-template-columns: 1fr;
    }

    .feature-title {
        font-size: 2.4rem;
    }

    .feature-description {
        font-size: 2rem;
    }

    .contact-box {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-template-areas:
            "form"
            "info"
            "map";
        grid-gap: 2rem;
        margin-top: 2rem;
    }

    .formBox .row50 {
        display: grid;
        gap: 1rem;
    }

    .inputBox {
        width: 100%;
    }

}

/* 320px */
@media (max-width: 20em) {
    html {
        font-size: 38%;
    }

    .hero-text-box {
        padding: 0;
    }
}