* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
    line-height: 1;
    font-weight: 400;
    color: #555;
}

.grid {
    display: grid;
    gap: 96px;
}

.grid--2-cols {
grid-template-columns: repeat(2,1fr);
}

.grid--3-cols {
grid-template-columns: repeat(3,1fr);
}

.grid--4-cols {
grid-template-columns: repeat(4,1fr);
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 24px;
}
  
.heading-primary,
.heading-secondary 
.heading-tertiary {
font-weight: 700;
color: #333;
letter-spacing: -0.5px;
font-family: 'Playfair Display';
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 7.2rem;
    max-width: 1120px;
    margin: 0 auto;
}

.header .logo {
    height: 2.4rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: rgb(168, 20, 20);
}

.section-hero {
    background-color: #fff;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.heading-primary {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 10px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    background-color: rgb(109, 27, 27);
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;
    transition: background-color 0.6s ;
}

.btn--full:link,
.btn--full:visited {
    background-color: rgb(109, 27, 27);
    color: #fff; 
}

.btn--full:hover,
.btn--full:active {
    background-color: rgb(165, 41, 41);
}

.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: rgb(109, 27, 27);
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #cecece;
    box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

/* ABOUT SECTION */
.head-text {
  font-size: 16px;
  position: relative;
  margin-bottom: 40px;
}

.head-text-description {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
  font-family: 'Playfair Display';
  color: #111;
}

.head-text-sub-text {
  font-size: 18px;
  color:#bababa;
  width: 448px;
  height: 120px;
  margin-bottom: 40px;
}

.about-container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
  
  .about-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .about-card {
    display: flex;
    flex-direction: row;
  }

  .about-card-text {
    margin-right: 1rem;
  }

  .about-card-heading {
    font-size: 2.4rem;
    font-family: 'Playfair Display';
    margin-bottom: 1.6rem;
    color:#111;
  }

  .about-card-description {
    font-size: 1.8rem;
    font-family: 'Poppins';
  }

  .featured-product-image {
    height: 240px;
      width: 100%;
      object-fit: cover;
      object-position: 0% 60%;
  }
  
  .section-products-list {
    padding: 24px 0 96px;
  }
  
  .product-number {
    font-size: 86px;
    font-weight: 600;
    color: #ddd;
  }
  
  .product-description {
    font-size: 18px;
    line-height: 1.8;
  }
  
  .product-img {
    width: 100%;
    object-fit: cover;
  }
  
  .heading-secondary {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 96px;
  }
  
  .heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  
  .subheading {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .heading-primary,
  .heading-secondary 
  .heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
  }
  
  section {
    padding: 96px 0;
  }
  
  .head-text {
    font-size: 16px;
    position: relative;
    margin-bottom: 40px;
  }
  
  .feature {
    grid-template-columns: 1fr 4fr;
    gap: 24px;
  }
  
  .feature-image {
    display: flex;
    justify-self: center;
    width: 40px;
    height: 40px;
    background-color: #86c6f9;
    padding: 8px;
    border-radius: 10px;
  }
  
  .feature-title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .feature-description {
    font-size: 1.6rem;
  }
  
  .section-testimonials {
    /* padding: 96px 0; */
  }
  
  .testimonials-container {
    /* padding: 96px; */
  }
  
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }
  
  .testimonial-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .testimonial-text {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 16px;
  }
  
  .testimonial-name {
    font-size: 16px;
    color: #777;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
  }
  
  .gallery-item-image {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  
  .gallery-container {
    display: flex;
    gap: 80px;
  }
  
  .gallery-container h2 {
    font-size: 52px;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
  }
  
  .subhead {
    font-size: 18px;
  }
  
  .cta-btns {
    margin: 50px 0;
  }
  
  .cta-btns, .secondary-cta {
    display: flex;
    gap: 20px;
  }
  
  .primary-cta {
    background-color: beige;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 19px;
    padding: 10px 20px;
  }
  
  .secondary-cta {
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px 0;
  }
  
  .secondary-cta svg {
    width: 20px;
  }
  
  .left-col {
    width: 45%;
  }
  
  .news {
    display: flex;
    gap: 30px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .right-col {
    flex-grow: 1;
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
    "left right"
    "left bottom"
    ;
  }
  
  .card {
    border-radius: 8px;
    padding: 11px;
    display: flex;
    align-items: end;
    background-size: 150%;
  }
  
  .card1 {
    grid-area: left;
    background-image: url(./Images/cellar-with-bottles.jpg);
  }
  
  .card2 {
    background-image: url(https://img.freepik.com/free-photo/beautiful-focused-woman-is-choosing-right-wine-customers-dark-wine-cellar_613910-17334.jpg?w=2000&t=st=1676971861~exp=1676972461~hmac=3ad0b8d3d5c73fedf32955d24f04edeb3ce7469efc1620370577c8f767a44b9b);
  }
  
  .card3 {
    background-image: url(https://img.freepik.com/free-photo/woman-having-snacks-front-view_23-2149857573.jpg?t=st=1676972167~exp=1676972767~hmac=69501f648574942ff5a2297086ad04b07c52beb43e36928b2378c79c6c1d5ac2);
  }
  
  .card-details {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-details a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .card-details p {
    font-size: 14px;
    margin: 0;
  }
  
  p.product-price {
    font-size: 18px;
  }
  
  
  /* CTA */
  .contact-title {
    color: black;
    font-weight: 500;
  }
  
  .form {
    grid-area: form;
  }
  
  .info {
    grid-area: info;
  }
  
  .map {
    grid-area: map;
  }
  
  .contact {
    padding: 40px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
  }
  
  .contact-box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .contact h3 {
    color: black;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 18px;
  }
  
  .formBox {
    position: relative;
    width: 100%;
  }
  
  .formBox .row50 {
    display: flex;
    gap: 20px;
  }
  
  .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    width: 50%;
  }
  
  .formBox .row100 .inputBox {
    width: 100%;
  }
  
  .inputBox span {
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .inputBox input {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
  }
  
  .inputBox textarea {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    font-family: inherit;
  }
  
  .inputBox input[type="submit"] {
    background: ;
    color: #aaa;
    font-size: 1.1rem;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
  }
  
  .inputBox ::placeholder {
  
  }
  
  .info {
    background: rgb(109, 27, 27);
  
  }
  
  .info h3 {
  color: #fff;
  }
  
  .info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
  }
  
  .info .infoBox div a {
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
  }
  
  .sci {
    margin-top: 40px;
    display: flex;
  }
  
  .sci li {
    list-style: none;
    margin-right: 15px;
  }
  
  .sci li a {
    font-size: 2em;
    color: #ccc;
  }
  
  .sci li a:hover {
    color: #fff;
  }
  
  .map {
    padding: 0;
  }
  
  .map iframe {
    width: 100%;
    height: 100%;
  }
  
  
  /* RESPONSIVE CTA MEDIA QUERIES */
  /* @media (max-width: 991px) {
    body {
        background: #03a9f5;
    }
  
    .contactUs {
        padding: 20px;
    }
  
    .contact-box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
  
    .contact .form .info {
        padding: 30px;
    }
  
    .contact .map {
        min-height: 300px;
        padding: 0;
    }
  
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
  
    .inputBox {
        width: 100%;
    }
    
  } */
  

  .footer {
    padding: 128px 0;
    border-top: 1px solid #ddd;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 32px;
}

.social-icon {
     height: 24px;
     width: 24px;
}

.copyright {
    font-size: 14px;
    color: #767676;
    margin-top: auto;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 24px;
}

.contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
}

.address {
    margin-bottom: 24px;
}

.footer-heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 16px;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
color: #555;
}
